body {
  font-family: var(--prymaryFont);
  font-weight: 400;
  font-size: 14px;
  color: var(--mainTextColor);
  background-color: var(--mainBgColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.accent {
  color: var(--accentColor);
}

.list {
  list-style: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 375px) {
  .title {
    margin-bottom: 32px;

    color: var(--mainTextColor);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 117%;
  }
}
